* {
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  background-color: #3D0000; }

header {
  width: 100%;
  height: 96px;
  padding: 20px 0;
  background-color: #1B1B1B; }

.subheader {
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .subheader .container .row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

.navbar-nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around; }
  .navbar-nav .menu-item {
    margin-right: 32px; }
    .navbar-nav .menu-item a {
      color: #F8F8FF;
      font-weight: 700;
      font-size: 21px;
      line-height: 130%;
      text-decoration: none;
      -webkit-transition: 1s all;
      transition: 1s all; }
      .navbar-nav .menu-item a:hover {
        color: #58DDA3; }

#home {
  color: #58DDA3; }

.logo {
  width: 178px;
  height: 48px;
  margin: 0 auto 12px auto; }

.sign {
  padding: 5px 10px;
  border: 2px solid #F5CF49;
  border-radius: 8px;
  color: white;
  text-decoration: none;
  font-weight: 500px;
  -webkit-transition: 1s all;
  transition: 1s all; }
  .sign:hover {
    background: #F5CF49; }

.log {
  padding: 5px 10px;
  border: 2px solid #A958A5;
  border-radius: 8px;
  color: white;
  text-decoration: none;
  margin-left: 10px;
  font-weight: 500px;
  -webkit-transition: 1s all;
  transition: 1s all; }
  .log:hover {
    background: #A958A5; }

.anime-details {
  background-image: url("https://i.pinimg.com/736x/57/56/1a/57561a11fca879fc758baba2f79c8e09.jpg");
  height: 440px;
  border-radius: 1.25px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  margin-top: 100px;
  position: relative; }

.d-flex {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .d-flex .anime-details-title {
    margin-top: 100px; }
    .d-flex .anime-details-title h3 {
      color: white;
      font-weight: 700; }
    .d-flex .anime-details-title span {
      font-size: 0.875rem;
      color: #878A9B;
      display: block;
      text-align: left; }
  .d-flex .anime-details-rating {
    margin-top: 100px; }
    .d-flex .anime-details-rating .rating a {
      text-decoration: none; }
      .d-flex .anime-details-rating .rating a i {
        font-size: 1.5rem;
        color: #dab900;
        display: inline-block; }
  .d-flex span {
    display: block;
    font-size: 1.2rem;
    color: #878A9B;
    text-align: center;
    margin-top: 3px; }

.anime-details-text p {
  color: #ffffff;
  line-height: 30px;
  margin-top: 15px;
  line-height: 30px;
  font-weight: 500px; }

.anime-details-widget {
  position: relative; }
  .anime-details-widget ul {
    position: relative;
    right: 32px; }
  .anime-details-widget li {
    position: relative;
    list-style: none;
    list-style: none;
    color: #ffffff;
    line-height: 30px;
    position: relative;
    padding-left: 18px;
    font-weight: 700; }
    .anime-details-widget li span {
      color: #878A9B;
      width: 115px;
      display: inline-block;
      font-weight: 700; }
  .anime-details-widget li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 12px;
    height: 6px;
    width: 6px;
    background: #FF0000;
    border-radius: 1.25rem; }

.btn {
  background-color: #ffffff;
  color: #FF0000;
  min-width: 145px;
  min-height: 50px;
  border-radius: 1.25rem;
  border: 1px solid #FF0000;
  font-weight: 700;
  font-size: 0.875rem;
  -webkit-transition: 1s all;
  transition: 1s all; }
  .btn:hover {
    background-color: #a11f31; }

.video {
  text-decoration: none;
  background-color: #FF0000;
  color: #ffffff;
  min-width: 145px;
  min-height: 50px;
  border-radius: 1.25rem;
  font-weight: 600;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
  -webkit-transition: 1s all;
  transition: 1s all; }
  .video .text-white {
    margin-left: 5px;
    font-weight: 700px; }
  .video:hover {
    background-color: #3D0000; }

.icon-wrapper {
  font-size: 15px;
  border-radius: 50%;
  -webkit-transition: 250ms color;
  transition: 250ms color;
  -webkit-animation-name: wave;
          animation-name: wave;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  color: #ffffff; }

/*# sourceMappingURL=style1.css.map */